<%
  user_id = user.id 
  if current_user.follows?(user)
    initial_follow_state = true
  else
    initial_follow_state = false
  end
%>
  <form action="<%= user_follow_url(user) %>" method="post">
    <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
    <button class="follow-toggle" data-user-id="<%= user_id %>" data-initial-follow-state="<%=initial_follow_state%>" type="submit">
  </form>
